.fav__pr
	.fav__logo
		img(src='/assets/img/images_png/fav_logo.png', alt='favorit logo')
		.fav__logo__text удобно. быстро. динамично.
	.fav__pr__site
		iframe(src='https://www.favorit.com.ua/uk/bets/', width="660", height="400")
.fav__check
	.fav__check__title Проверь наши обновления
	.fav__check__des-wrrap
		.fav__check__des-title 01. ПОИСК
		p.fav__check__description
			span.fav__check__description_bold Теперь искать матчи стало еще проще 
			|- простонабери название команды.
		p.fav__check__description
			|Кроме того, поиск работает для 
			span.fav__check__description_bold Live событий 
			|и для раздела 
			span.fav__check__description_bold PreMatch
		.fav__check__des-title.fav__check__filter-title 02. ФИЛЬТР
		p.fav__check__description
			|Для удобства и быстрого поиска событий пользуйтесь временным фильтром: 
			span.fav__check__description_bold 30 минут | 1 час | 2 часа | 4 часа | 8 часов | 24 часа до начала
	.fav__check__img
		img(src='/assets/img/images_png/fav_check_search.png', alt='favorit logo')
//- MARKET
.fav__market
	.fav__market__des-wrrap
		.fav__check__des-title 03. МАРКЕТЫ
		p.fav__check__description
			|Маркеты разделены по категориям: 
			span.fav__check__description_bold "Основные", "Голы", "Таймы", "Специальные ставки", "Угловые", "Карточки", "Интервалы", "Игроки" 
			br
			| а также  
			span.fav__check__description_bold "Все"
	.fav__market__img
		img(src='/assets/img/images_png/fav_market.png', alt='favorit logo')