@font-face {
    font-family: 'BERNIERRegular-Regular';
    src: url('../fonts/bernier/bernierregular-regular.eot');
    src: url('../fonts/bernier/bernierregular-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/bernier/bernierregular-regular.woff') format('woff'),
         url('../fonts/bernier/bernierregular-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Gilroy-Black';
    src: url('../fonts/Gilroy/Gilroy-Black.eot');
    src: url('../fonts/Gilroy/Gilroy-Black.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Gilroy/Gilroy-Black.woff') format('woff'),
         url('../fonts/Gilroy/Gilroy-Black.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

//../fonts/bernier/

